.staked-amount-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.staked-amount-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stake-value-input {
  padding: 8px;
  border: none;
}

.next-staked-amount-info {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 10px 0px;
}

.next-staked-validator-name {
  text-align: center;
  color: #5090ff;
  margin-bottom: 10px;
}

.next-staked-info {
  text-align: center;
}

.estimated-return-item {
  display: flex;
  justify-content: space-between;
  margin: 5px 0px;
}
