.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: var(--indigo-indigo-900-fetch-navy, #000D3D);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  width: 100%;
  border: 0px;
}
.storybook-button--primary {
  color:#000d3d;
  background-color:color;
}
.storybook-button--primaryBlur {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color:white;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  width: 100%;
  border: 0px;
  /* color:#000d3d; */
  background: rgba(255, 255, 255, 0.10);
  padding: 10px 16px;

}
.storybook-button--secondary {
  color:white;
  background-color: #000d3d;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
