.unstake-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: white;
  font-weight: 600;
  font-size: 14px;
}

.current-stake {
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: space-between;
  padding: 12px;
  align-items: center;
  border-radius: 12px;
  height: 45px;
}

.label {
  font-size: 14px;
  font-weight: 650;
  line-height: 24px;
}

.alert {
  display: flex;
  padding: 12px;
  align-items: flex-start;
  gap: 6px;
  align-self: stretch;
  border: transparent;
  border-radius: 12px;
  background: rgba(75, 161, 231, 0.25);
  box-shadow: 0px -1px 2px 0px rgba(80, 158, 226, 0.25) inset,
    0px 1px 2px 0px rgba(80, 158, 226, 0.25) inset,
    0px -10px 30px 0px rgba(80, 158, 226, 0.1) inset;
  backdrop-filter: blur(15px);
  margin-bottom: 0;
  color: white;

  i {
    font-size: 24px;
    margin-right: 8px;
  }

  img {
    padding-top: 4px;
  }

  h1 {
    font-size: 16px;
    font-weight: bold;
    color: #32325d;
    margin-bottom: 4px;
  }

  p {
    font-size: 14px;
    line-height: 1.57;
    margin: 0;
  }
  .text {
    color: #fff;
    font-family: Lexend;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 22.4px */
  }
  .lightText {
    color: #fff;
    font-family: Lexend;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }
}
