.glass {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.1);
  padding: 18px;
}

.glass-gradient {
  background: linear-gradient(270deg, #f9774b 14.08%, #cf447b 50.82%);
  padding: 2px;
  border-radius: 16px;
}
