.title {
  color: var(--grey-white, #fff);
  font-family: Lexend;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.card {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.1);
  padding: 18px;
}
