@import "../../../styles/var";
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  label {
    color: rgba(255, 255, 255, 0.6);
  }
  input:read-only {
    background: rgba(255, 255, 255, 0.1);
    color: white;
  }
}

.formGroup {
  margin-bottom: 2.5rem;
}

.info {
  color: green;
}

.inputField,
.inputField:focus {
  display: flex;
  padding: 12px 18px;
  align-items: center;
  align-self: stretch;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.1);
  color: white;
}
