.chatContainer {
  padding: 12px;
  background-color: #fff;
  border-radius: 5px;

  .popupContainer {
    position: absolute;
    width: 320px;
    margin: auto;
    background-color: #fff;
    z-index: 1;
    // border: solid black 1px;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 100px 20px #585858;
    
    img {
      width: 60%;
      margin-left: 65px;
      border-radius: 500px;
    }
    .infoContainer {
      height: 200px;
      overflow: auto;
      h3 {
        color: #3B82F6;
      }
      p, form {
        font-size: 14px;
        color: #525F7F;
        
      }
      p{
        margin-bottom: 0.8rem;
      }
    }
    button {
      padding: 14px;
      font-size: medium;
      color: #fff;
      background-color: #3B82F6;
      border: none;
      width: 282px;
      border-radius: 5px;
      cursor: pointer;
    }
  }

  .searchContainer {
    width: 100%;
    display: flex;
    align-items: center;
    .searchBox {
      display: flex;
      padding: 10px;
      flex: 1;
      background-color: #f2f3f6;
      border-radius: 4px;
      align-items: center;
      gap: 10px;
      margin-right: 10px;
      img {
        width: 16px;
        height: 16px;
      }
      input {
        border: none;
        outline: none;
        background: transparent;
        &::placeholder {
          color: #525f7f;
        }
      }
    }
  }

  .messagesContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    .messageContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      .initials {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: #d0def5;
        color: #525f7f;
        margin-right: 8px;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        .unread {
          position: absolute;
          top: -4px;
          left: -4px;
          width: 12px;
          height: 12px;
          background: #d43bf6;
          border-radius: 50%;
        }
      }
      .messageInner {
        width: 80%;
        .name {
          font-weight: 400;
          font-size: 15px;
          color: #525f7f;
          height: 20px;
        }
        .messageText {
          text-overflow: ellipsis;
          overflow: hidden;
          width: 100%;
          white-space: nowrap;
          font-weight: 400;
          font-size: 15px;
          color:  #808DA0;
          height: 20px;
        }
      }
    }
    .resultText {
      color: #808da0;
      font-weight: 400;
      font-size: 15px;
      margin-bottom: 16px;
    }
  }
}
