.activityRow {
    color: grey;
    font-size: small;
    background: #ffffff;
    margin-right: 0% !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  a{
    font-weight: lighter;
  }
  .container {
    padding: 5px;
    background-color: #ffffff;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  
  .activityCol {
    font-size: small;
    display: flex;
    align-items: center;
    margin: 5px;
    margin-right: 0px;
    padding: 3px;
  }
  
  .negative {
    color: red;
  }
  
  .positive{
    color: green;
  }