@import "../../../styles/var";
.btn {
  border-radius: 100px;
  margin-top: 18px;
}
.btn:disabled {
  cursor: not-allowed;
}
.gradient {
  background: $gradient;
  -webkit-background-clip: text;
  color: transparent;
}
