.topBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  font-style: normal;
  font-weight: 400;
  //   line-height: 34px;
  color: #fff;
  text-align: center;
  font-family: Lexend;

  .topBar-details {
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
    align-items: center;
  }

  img {
    height: 48px;
    width: 48px;
  }
}

.status {
  font-size: 18px;
}

.verb {
  font-size: 24px;
}
.time {
  font-size: 16px;
  opacity: 0.8;
  font-weight: 400;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.1);
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 14px;
  font-family: Lexend;
  margin: 5px;
  height: 50px;
}
.version {
  opacity: 0.6;
}

.hr {
  border: none;
  height: 0.5px;
  background-color: rgba(255, 255, 255, 0.2);
}
.buttons {
  display: flex;
  gap: 12px;
  flex-direction: column;
}
.cardAmt {
  text-align: center;
  font-family: Lexend;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.inUSD {
  color: rgba(255, 255, 255, 0.6);
}
.verticalLine {
  position: absolute;
  border: 0.75px solid rgba(255, 255, 255, 0.2);
  width: 1px;
  height: 56px;
  left: 28px;
  top: 56px;
}
